html {
  background-color: #0a0f27;
  color: #ffffff;
  font-family: Verdana, sans-serif;
  font-size: 0.9em;
}

h1,
h2,
h3 {
  font-weight: bold;
  margin-bottom: 10px;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.3em;
}

h3 {
  font-size: 1.2em;
}

section {
  padding: 1em;
  background-color: rgba(31, 27, 49, 0.5);
  border: 1px solid rgb(55, 49, 85);
  max-width: 85%;
  margin: 5px auto;
}

form .field {
  margin: 0.3em 5px;
}

form label {
  display: inline-block;
  width: 120px;
}

form .field.submit-field {
  margin-top: 1.5em;
  margin-bottom: 0;
  text-align: right;
}

@media (max-width: 560px) {
  html {
    font-size: 1.05em;
  }
  form label {
    display: block;
    width: fit-content;
  }
  form input {
    display: block;
    margin: 0.25em 0;
    width: calc(100% - 10px);
  }
  section {
    margin: 5px;
    max-width: 100%;
  }
}

@media (min-width: 800px) {
  section {
    max-width: 750px;
  }
}
